QTableWidget::item:selected {
    background-color: #0078D7;
    color: #FFFFFF;
}

QPushButton {
    background-color: #4400ff;
    color: #FFFFFF;
    padding: 8px;
}

QLineEdit {
    background-color: #001320
}

QLineEdit:focus {
    background-color: #002843
}